<div class= "user" (dblclick)="onInfo()">
  <h3 class="user-info">
    <span>{{head === "dateOfBirth" ?  (user[head] ? user[head].toString().substring(0, user[head].toString().indexOf("T")) : ""): (user[head] ? user[head] : "No information")}}</span>
    <div class="icons-container">
      <fa-icon (click)="onUpdate()" [icon]="faCog" class="icon-cog"></fa-icon>
      <fa-icon (click)="onDelete()" [icon]="faTrash" class="icon-delete"></fa-icon>
    </div>
  </h3>


  <div class="info" *ngIf="infoRequired || showInfo">
    <div *ngIf="showFields[0]">
      <p>Username: {{" " + user.username}}</p>
    </div>
    <div *ngIf="showFields[1]">
      <p>E-mail:  {{" " + user.email}}</p>
    </div>
    <div *ngIf="showFields[2]">
      <p>Name: {{" " + user.name}}</p>
    </div>
    <div *ngIf="showFields[3]">
      <p>Surname: {{" " + user.surname}}</p>
    </div>
    <div *ngIf="showFields[4]">
      <p>Gender: {{" " + user.gender}}</p>
    </div>
    <div *ngIf="showFields[5]">
      <p>City: {{" " + user.city}}</p>
    </div>
    <div *ngIf="showFields[6]">
      <p>Birthdate: {{" " + (user.dateOfBirth ? user.dateOfBirth.toString().substring(0, user.dateOfBirth.toString().indexOf("T")) : "")}}</p>
    </div>
    <div *ngIf="showFields[7]">
      <p>Admin: {{" " + user.admin}}</p>
    </div>
  </div>

  <app-user-update *ngIf="updateRequired" (emitter)="changeUser($event)" [createOrUpdate]="'update'" [userId]="user._id">
  </app-user-update>

</div>

